body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  padding: 2rem;
}

header {
  padding-bottom: 2rem;
}

img {
  max-width: 100%;
  border: 4px solid #443333;
  border-radius: 4px;
}
